<h3
  data-test-selector="title"
>{{ !course?.id ? 'Създай нов курс' : 'Редактирай курс' }}</h3>
<hr>
<form
       [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="formgroup">
    <label for="title">Заглавие
    </label>
    <input type="text"
           id="title"
           formControlName="title">
    <small
      data-test-selector="error"
      *ngIf="titleFormControl?.touched &&
                  titleFormControl?.invalid &&
                  titleFormControl?.hasError('required')">
      *This field is required!
    </small>
  </div>
  <div>
    <label for="description">Описание
    </label>
    <input type="text"
           id="description"
           formControlName="description">
  </div>

  <div>
    <input
      data-test-selector="button-save"
      type="submit" [disabled]="!formGroup.valid" value="Save"/>
  </div>

  <a style="margin-left: 1rem"
     data-test-selector="button-back"
     routerLink="/"> Back to list
  </a>
</form>
